[Desktop Entry]
Type=Application
Name=rog-helper
Comment=Linux-native ASUS ROG control app
TryExec=rog-helper-ui
Exec=rog-helper-ui
Icon=rog-helper
Terminal=false
StartupNotify=true
Categories=System;Settings;Utility;
Keywords=ASUS;ROG;Laptop;CPU;GPU;Battery;
